$color-bg-main:rgb(249,250,252);
$color-white:#ffffff;
$color-white-2:rgb(209,213,219);
$color-white-3:rgb(93,114,128);
$color-white-4:rgb(243,244,246);
$color-white-border:rgb(45,55,72);
$color-border-table:rgb(230,232,240);
$color-white-icon:rgb(107,114,128);
$color-grey-light:rgb(36,42,56);


$color-grey-light-2:rgb(229,231,235);

$color-gray-text:rgb(106,129,146);

$color-dark-1:rgb(17,24,39);


$color-primary:rgb(80,72,229);
$color-primary-light:rgb(33,150,243);

$color-danger:rgb(209,67,67);


$color-green:rgb(16,185,129);
$color-green-dark:rgb(11,129,90);
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;