.todos {
  margin-top: 7rem;
  margin-left: 2rem;
  // background-color: orangered;
  // height: 40vh;
  &__heading {
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 2rem;
    }
  }
  &__content {
    &-header {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    &-card {
      font-weight: 500;
      font-size: 1.8rem;
    }
    &-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & > span {
        margin-right: 2rem;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        // padding: 1rem 1rem;
        text-align: center;
        border-radius: 50%;
        background-color: $color-grey-light-2;
      }
    }
  }
  &__item {
    // width: ;
    background-color: $color-grey-light-2;
    padding: 0.5rem 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 10rem;
  }
  &__btn {
    display: inline-block;
    background-color: inherit;
    border: none;
  }
  &__add {
    border-top: 1px solid $color-white-2;

    background-color: $color-grey-light-2;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.todo {
  margin: 1rem 1rem;
  padding: 2rem 2rem;
  height: 100px;
  background-color: $color-white;

  border-radius: 10px;
  box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.1);
}
